<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<form th:fragment="form-newuser" id="formNewUser" style="max-width: 320px;" class="m-auto">
    <div id="alertNewUser"></div>
    <div class="form-floating mb-3">
        <input name="name"
               type="text" class="form-control" id="newName" placeholder="Введите имя">
        <label for="newName">Имя</label>
        <span class="invalid-feedback"></span>
    </div>
    <div class="form-floating mb-3">
        <input name="age"
               type="number" class="form-control" id="newAge" placeholder="0">
        <label for="newAge">Возраст</label>
        <span class="invalid-feedback"></span>
    </div>
    <div class="form-floating mb-3">
        <input name="email"
               type="email" class="form-control" id="newEmail" placeholder="name@example.com">
        <label for="newEmail">Почта</label>
        <span class="invalid-feedback"></span>
    </div>
    <div class="form-floating mb-3">
        <input name="password"
               type="password" class="form-control" id="newPassword" placeholder="Password">
        <label for="newPassword">Пароль</label>
        <span class="invalid-feedback"></span>
    </div>
    <div class="form-floating mb-4">
        <select name="role"
                class="form-select" id="newRole" aria-label="Floating label select example">
            <option selected></option>
            <option th:each="role : ${roles}" th:value="${role.name()}" th:text="${role.name()}"></option>
        </select>
        <label for="newRole">Роль</label>
        <span class="invalid-feedback"></span>
    </div>
    <div class="form-check mb-5">
        <input name="enabled" class="form-check-input" type="checkbox" id="newStatus">
        <label class="form-check-label" for="newStatus">
            Активировать
        </label>
        <span class="invalid-feedback"></span>
    </div>
    <button type="submit" class="w-100 btn btn-success">Добавить</button>
</form>

</body>
</html>