<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<form th:fragment="modal-delete" id="modal-delete" aria-labelledby="deletingModalLabel" class="modal fade" aria-hidden="true" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 id="deletingModalLabel" class="modal-title">Подтвердите удаление</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body px-5">
                <div class="form-floating mb-3">
                    <input disabled name="id" id="idDelete" type="text" class="form-control" placeholder="ID">
                    <label for="idDelete">ID</label>
                </div>
                <div class="form-floating mb-3">
                    <input disabled name="name" id="nameDelete" type="text" class="form-control" placeholder="Введите имя">
                    <label for="nameDelete">Имя</label>
                </div>
                <div class="form-floating mb-3">
                    <input disabled name="age" id="ageDelete" type="number" class="form-control" placeholder="0">
                    <label for="ageDelete">Возраст</label>
                </div>
                <div class="form-floating mb-3">
                    <input disabled name="email" id="emailDelete" type="email" class="form-control" placeholder="name@example.com">
                    <label for="emailDelete">Почта</label>
                </div>
                <div style="display: none;" class="form-floating mb-3">
                    <input name="password" id="passwordDelete" type="password" class="form-control" placeholder="Password">
                    <label for="passwordDelete">Пароль</label>
                </div>
                <div class="form-floating mb-4">
                    <select disabled name="role" id="roleDelete" class="form-select" aria-label="Floating label select example">
                        <option th:each="role : ${roles}" th:value="${role.name()}" th:text="${role.name()}"></option>
                    </select>
                    <label for="roleDelete">Роль</label>
                </div>
                <div class="form-check mb-4">
                    <input disabled name="enabled" id="enabledDelete" class="form-check-input" type="checkbox">
                    <label for="enabledDelete" class="form-check-label">
                        Активный
                    </label>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Отмена</button>
                <button type="submit" class="btn btn-danger">Удалить</button>
            </div>
        </div>
    </div>
</form>

</body>
</html>