<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<form th:fragment="modal-edit" id="modal-edit" aria-labelledby="editingModalLabel"
      class="modal fade" aria-hidden="true" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 id="editingModalLabel" class="modal-title">Редактирование пользователя</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body px-5">
                <div style="display: none;" class="form-floating mb-3">
                    <input disabled name="id" id="idEdit" type="text" class="form-control" placeholder="ID">
                    <label for="idEdit">ID</label>
                </div>
                <div class="form-floating mb-3">
                    <input name="name" id="nameEdit"
                           type="text" class="form-control" placeholder="Введите имя">
                    <label for="nameEdit">Имя</label>
                    <span class="invalid-feedback"></span>
                </div>
                <div class="form-floating mb-3">
                    <input name="age" id="ageEdit"
                           type="number" class="form-control" placeholder="0">
                    <label for="ageEdit">Возраст</label>
                    <span class="invalid-feedback"></span>
                </div>
                <div class="form-floating mb-3">
                    <input name="email" id="emailEdit"
                           type="email" class="form-control" placeholder="name@example.com">
                    <label for="emailEdit">Почта</label>
                    <span class="invalid-feedback"></span>
                </div>
                <div class="form-floating mb-3">
                    <input name="password" id="passwordEdit"
                           type="password" class="form-control" placeholder="Password">
                    <label for="passwordEdit">Пароль</label>
                    <span class="invalid-feedback"></span>
                </div>
                <div class="form-floating mb-4">
                    <select name="role" id="roleEdit"
                            class="form-select" aria-label="Floating label select example">
                        <option th:each="role : ${roles}" th:value="${role.name()}" th:text="${role.name()}"></option>
                    </select>
                    <label for="roleEdit">Роль</label>
                    <span class="invalid-feedback"></span>
                </div>
                <div class="form-check mb-4">
                    <input name="enabled" id="enabledEdit" class="form-check-input" type="checkbox">
                    <label for="enabledEdit" class="form-check-label">Активный</label>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Отмена</button>
                <button type="submit" class="btn btn-success">Сохранить</button>
            </div>
        </div>
    </div>
</form>

</body>
</html>