<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Панель</title>

    <link rel="stylesheet" th:href="@{/bootstrap-icons.css}">
    <link rel="stylesheet" th:href="@{/bootstrap.min.css}">
    <script th:src="@{/bootstrap.bundle.min.js}" async></script>
    <script type="module" sec:authorize="hasRole('ADMIN')" th:src="@{/admin.js}" async></script>
</head>
<body class="vh-100 d-flex flex-column">

<header th:replace="fragments/header.html :: header"></header>

<!-- SIDEBAR -->
<div class="d-flex flex-fill">
    <!--  Side Links  -->
    <div style="min-width: 240px;" class="nav flex-column nav-pills p-2 pt-4" id="v-pills-tab" role="tablist" aria-orientation="vertical">
        <a sec:authorize="hasRole('ADMIN')"
           th:aria-selected="${#httpServletRequest.requestURI.contains('/admin')}"
           th:classappend="${#httpServletRequest.requestURI.contains('/admin') ? 'active' : ''}"
           class="nav-link" id="v-pills-admin-tab" data-bs-toggle="pill" data-bs-target="#v-pills-admin" type="button" role="tab" aria-controls="v-pills-admin">
            <i class="bi-person-workspace me-2"></i>
            Администрирование
        </a>
        <a th:aria-selected="${#httpServletRequest.requestURI.contains('/user')}"
           th:classappend="${#httpServletRequest.requestURI.contains('/user') ? 'active' : ''}"
           class="nav-link" id="v-pills-profile-tab" data-bs-toggle="pill" data-bs-target="#v-pills-profile" type="button" role="tab" aria-controls="v-pills-profile">
            <i class="bi bi-person-circle me-2"></i>
            Профиль
        </a>
    </div>

    <!-- Content  -->
    <div style="background-color: var(--bs-gray-100);" class="flex-grow-1 tab-content p-4" id="v-pills-tabContent">

        <!-- ADMIN PANEL -->
        <div sec:authorize="hasRole('ADMIN')"
             th:classappend="${#httpServletRequest.requestURI.contains('/admin') ? 'show active' : ''}"
             class="tab-pane fade" id="v-pills-admin" role="tabpanel" aria-labelledby="v-pills-admin-tab" tabindex="0">
            <h2 class="mb-4">Панель администратора</h2>
            <nav>
                <div class="nav nav-tabs" id="nav-tab" role="tablist">
                    <!-- USERS TAB -->
                    <button th:classappend="${newUserError == null ? 'active' : ''}"
                            th:aria-selected="${newUserError == null}"
                            class="nav-link" id="nav-list-tab" data-bs-toggle="tab" data-bs-target="#nav-list" type="button" role="tab" aria-controls="nav-list">
                        Список
                    </button>
                    <!-- NEW USER TAB -->
                    <button th:classappend="${newUserError != null ? 'active' : ''}"
                            th:aria-selected="${newUserError != null}"
                            class="nav-link" id="nav-new-user-tab" data-bs-toggle="tab" data-bs-target="#nav-new-user" type="button" role="tab" aria-controls="nav-new-user">
                        Новый
                    </button>
                </div>
            </nav>
            <div class="p-4 border border-top-0 bg-white tab-content" id="nav-tabContent">
                <!-- USERS -->
                <div th:classappend="${newUserError == null ? 'show active' : ''}"
                     class="tab-pane fade" id="nav-list" role="tabpanel" aria-labelledby="nav-list-tab" tabindex="0">
                    <h4 class="mb-4">Список пользователей</h4>
                    <table class="table table-striped table-hover">
                        <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Email</th>
                            <th scope="col">Имя</th>
                            <th scope="col">Возраст</th>
                            <th scope="col">Роль</th>
                            <th scope="col">Статус</th>
                            <th scope="col">Действия</th>
                        </tr>
                        </thead>
                        <tbody id="user-table-body">
                        <template id="user-table-row-template">
                            <tr id="user-table-row">
                                <th scope="row"></th>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td>
                                    <button id="user-table-btn-edit"
                                            class="btn btn-success btn-sm"
                                            data-bs-toggle="modal" type="button">
                                        <i class="bi bi-pencil-square"></i>
                                    </button>
                                    <button id="user-table-btn-delete"
                                            class="btn btn-danger btn-sm"
                                            data-bs-toggle="modal" type="button">
                                        <i class="bi bi-x-lg"></i>
                                    </button>
                                </td>
                            </tr>
                        </template>
                        </tbody>
                    </table>
                </div>

                <!-- NEW USER FORM -->
                <div th:classappend="${newUserError != null ? 'show active' : ''}"
                     class="tab-pane fade" id="nav-new-user" role="tabpanel" aria-labelledby="nav-new-user-tab" tabindex="0">
                    <h4 class="mb-4 text-center">Новый пользователь</h4>
                    <form th:method="post" th:action="@{/admin/new}" th:object="${newUser}"
                            style="max-width: 320px;" class="m-auto">
                        <div class="form-floating mb-3">
                            <input th:field="*{name}"
                                   th:classappend="${#fields.hasErrors('name') ? 'is-invalid' : ''}"
                                   type="text" class="form-control" id="newUserName" placeholder="Введите имя">
                            <label for="newUserName">Имя</label>
                            <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="invalid-feedback"></span>
                        </div>
                        <div class="form-floating mb-3">
                            <input th:field="*{age}"
                                   th:classappend="${#fields.hasErrors('age') ? 'is-invalid' : ''}"
                                   type="number" class="form-control" id="newUserAge" placeholder="0">
                            <label for="newUserAge">Возраст</label>
                            <span th:if="${#fields.hasErrors('age')}" th:errors="*{age}" class="invalid-feedback"></span>
                        </div>
                        <div class="form-floating mb-3">
                            <input th:field="*{email}"
                                   th:classappend="${#fields.hasErrors('email') ? 'is-invalid' : ''}"
                                   type="email" class="form-control" id="newUserEmail" placeholder="name@example.com">
                            <label for="newUserEmail">Почта</label>
                            <span th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="invalid-feedback"></span>
                        </div>
                        <div class="form-floating mb-3">
                            <input th:field="*{password}"
                                   th:classappend="${#fields.hasErrors('password') ? 'is-invalid' : ''}"
                                   type="password" class="form-control" id="newUserPassword"
                                   placeholder="Password">
                            <label for="newUserPassword">Пароль</label>
                            <span th:if="${#fields.hasErrors('password')}" th:errors="*{password}" class="invalid-feedback"></span>
                        </div>
                        <div class="form-floating mb-4">
                            <select th:field="*{role}"
                                    th:classappend="${#fields.hasErrors('role') ? 'is-invalid' : ''}"
                                    class="form-select" id="newUserRole" aria-label="Floating label select example">
                                <option th:value="null" th:text="null" selected></option>
                                <option th:each="role : ${roles}" th:value="${role.name()}" th:text="${role.name()}"></option>
                            </select>
                            <label for="newUserRole">Роль</label>
                            <span th:if="${#fields.hasErrors('role')}" th:errors="*{role}" class="invalid-feedback"></span>
                        </div>
                        <div class="form-check mb-5">
                            <input th:field="*{enabled}" class="form-check-input" type="checkbox" id="newUserStatus">
                            <label class="form-check-label" for="newUserStatus">
                                Активировать
                            </label>
                        </div>
                        <button type="submit" class="w-100 btn btn-success">Добавить</button>
                    </form>
                </div>
            </div>

        </div>

        <!-- PROFILE -->
        <div th:classappend="${#httpServletRequest.requestURI.contains('/user') ? 'show active' : ''}"
             class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab" tabindex="0">
            <h2 class="mb-4">Информация об аккаунте</h2>
            <nav>
                <div class="nav nav-tabs" id="nav-profile" role="tablist">
                    <button class="nav-link active" id="nav-info-tab" data-bs-toggle="tab" data-bs-target="#nav-list" type="button" role="tab" aria-controls="nav-list" aria-selected="true">
                        Мой аккаунт
                    </button>
                </div>
            </nav>
            <div class="p-4 border border-top-0 bg-white tab-content" id="nav-infoTabContent">
                <div class="tab-pane fade show active" id="nav-info" role="tabpanel" aria-labelledby="nav-list-tab" tabindex="0">
                    <h4 class="mb-4">Регистрационные данные</h4>
                    <table class="table table-striped table-hover">
                        <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Email</th>
                            <th scope="col">Имя</th>
                            <th scope="col">Возраст</th>
                            <th scope="col">Роль</th>
                            <th scope="col">Статус</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <th scope="row" th:text="${currentUser.getId()}"></th>
                            <td th:text="${currentUser.getEmail()}"></td>
                            <td th:text="${currentUser.getName()}"></td>
                            <td th:text="${currentUser.getAge()}"></td>
                            <td th:text="${currentUser.getRole()} ? ${currentUser.getRole().name()} : 'null'"></td>
                            <td th:text="${currentUser.isEnabled()} ? 'Активен' : 'Забанен'"></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>


<div th:replace="fragments/modal-edit.html :: modal-edit"></div>
<div th:replace="fragments/modal-delete.html :: modal-delete"></div>

</body>
</html>
